.r-carousel img{
    margin: auto;
    height: 300px;
}
.r-item-title{
    border-bottom: 1px solid #545454;
    color: #ffffff
}
.r-item-body{
    margin-top: 10px;
}
.r-carousel div{
    background-repeat: repeat-x;
}