<div class="r-content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner r-carousel">
      <div class="item active" style="background-image: url('assets/images/carsouel/b-1.jpg');">
        <a>
          <img src="assets/images/carsouel/1.jpg" alt="">              
        </a>
      </div>
      <div class="item" style="background-image: url('assets/images/carsouel/b-2.jpg');">
        <a href="#/about">
          <img src="assets/images/carsouel/2.jpg"  alt="">              
        </a>
      </div>
      <div class="item" style="background-image: url('assets/images/carsouel/b-3.jpg');">
        <a href="">
          <img src="assets/images/carsouel/3.jpg" alt="">              
        </a>
      </div>
      <div class="item" style="background-image: url('assets/images/carsouel/b-4.jpg');">
          <a href="">
            <img src="assets/images/carsouel/4.jpg" alt="">              
          </a>
        </div>
    </div>
  </div>
  <div class="r-item">
    <div class="r-item-title">
      <h5>推荐歌单 </h5>
      <div class="r-item-title-more"><a href="" class="text-right"><span>更多>></span></a></div>
    </div>
    <div class="r-item-body">
        <app-lists [data]="listData"></app-lists>
    </div>
  </div>
  <div class="r-item">
    <div class="r-item-title">
      <h5>独家放送</h5>
      <div class="r-item-title-more"><a href="" class="text-right"><span>更多>></span></a></div>      
    </div>
    <div class="r-item-body">
        <app-v-list [data]="videoData"></app-v-list>
    </div>
  </div>
  <div class="r-item">
    <div class="r-item-title">
      <h5>最新音乐</h5>
      <div class="r-item-title-more"><a href="" class="text-right"><span>更多>></span></a></div>      
    </div>
    <div class="r-item-body t-body">
      <div class="col-md-6 l-list">
        <ul>
          <li class="rib-item">
            <img src="http://placehold.it/40x40" alt="">
            <div>
              <span class="mic-name">super</span>  <br>
              weixun
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 r-list">
        <ul>
          <li class="rib-item">
            <img src="http://placehold.it/40x40" alt="">
            <div>
              <span class="mic-name">super</span>  <br>
              weixun
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="r-item">
    <div class="r-item-title">
      <h5>推荐MV</h5>
      <div class="r-item-title-more"><a href="" class="text-right"><span>更多>></span></a></div>      
    </div>
    <div class="r-item-body">
        <app-v-list [data]="videoData"></app-v-list>
    </div>
  </div>
  <div class="r-item">
    <div class="r-item-title">
      <h5>主播电台</h5>
      <div class="r-item-title-more"><a routerLink="/discover/radio" class="text-right"><span>更多>></span></a></div>      
    </div>
    <div class="r-item-body">
      <div class="col-md-6">
        <ul>
          <li class="rib-item">
            <img src="http://placehold.it/80x80" alt="">
            <div>
              <span class="mic-name">super</span>  <br>
              weixun
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li class="rib-item">
            <img src="http://placehold.it/80x80" alt="">
            <div>
              <span class="mic-name">super</span>  <br>
              weixun
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
