a{
    text-decoration: none;
    color: #b3abab;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
li{
    list-style: none;
}
.c-tags{
    padding-top: 10px;
}
.c-tags dt{
    float: left;
    margin-right: 10px;
}
.c-tags span{
    margin: 0 10px;
}
.c-list li{
    list-style: none;
    margin-right: 20px;
    color: #ffffff;
}
.c-list-img{
    position: relative;
}
.c-list-bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    line-height: 30px;
    width:100%;
    background-color: rgba(32, 32, 32, 0.39);
}
.c-list-top{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 3px;
    width:100%;
}
.c-list-bottom a{
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 20px;
}

/*nav*/
.c-nav{
    width:100%;
    height: 40px;
    border-bottom: 1px solid #5d5b5b;
}
.c-nav ul{
    padding-left: 30%;
}

.c-nav ul li{
    margin-right: 15px;
}
.c-nav a{    
    font-size: 16px;
    line-height: 40px;
}

.s-menu{
    color: #918f8f;
}

/*rank component*/
.rk-content dl{
    float: left;
    color: #ffffff;
    border: 1px solid #918f8f;
}
.rk-content dl:not(:last-child){
    margin-right: 20px;
}
.rk-content ol{
    padding-left: 0px;
    margin-bottom: 0px;
}
.rk-content ol li{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.rk-content ol li:hover{
    background-color: rgba(117, 116, 116, 0.46)
}
.rk-content ol li:nth-child(odd){
    background-color: rgba(172, 172, 172, 0.13);
}