p{
    margin: 10px 0;
}
body{
    background-color: #242424;
}
a{
    text-decoration: none;
    color: #b3abab;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
li{
    list-style: none;
}
.tx-red{
    color: #B30B0B 
}
.c-tags{
    padding-top: 10px;
}
.c-tags dt{
    float: left;
    margin-right: 10px;
}
.c-tags span{
    margin: 0 10px;
}
.c-list li{
    list-style: none;
    margin-right: 15px;
    color: #ffffff;
}
.c-list-img{
    position: relative;
}
.c-list-bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    line-height: 30px;
    width:100%;
    background-color: rgba(32, 32, 32, 0.39);
}
.c-list-top{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 3px;
    width:100%;
}
.c-list-bottom a{
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 20px;
}

/*nav*/
.c-nav{
    width:100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #5d5b5b;
}
.c-nav ul li{
    margin-right: 15px;
}
.c-nav a{    
    font-size: 16px;
    line-height: 40px;
}

.s-menu{
    color: #918f8f;
}

/*rank component*/
.rk-content dl{
    float: left;
    color: #ffffff;
    border: 1px solid #918f8f;
}
.rk-content dl:not(:last-child){
    margin-right: 20px;
}
.rk-content ol{
    padding-left: 0px;
    margin-bottom: 0px;
}
.rk-content ol li{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.rk-content ol li:hover{
    background-color: rgba(134, 132, 132, 0.21);
}
.rk-content ol li:nth-child(odd){
    background-color: rgba(117, 116, 116, 0.13);
}
.rk-more{
    height: 40px;
    padding: 10px;
}
.rk-ol li span.rk-ord{
    font-size: 16px;
    padding: 0px 3px;
}
/* m-list-con*/
.m-list-con{
    padding-top: 10px;
    color: #C2BEBE;
    min-width: 900px;
    width:70%;
    margin: auto;
}
.m-list-con-t{
    height: 180px;
}
.cont-l{
    float: left;
    width:200px;
}
.cont-l img{
    width: inherit;
}
.cont-r{
   margin-left: 220px;
}
.cont-r.only-tilte{
    padding-top:50px;
    text-shadow: 180px 40px;
}
.m-list-con-b {
    padding-top:30px; 
}
.m-list-con-b table th,.m-list-con-b table td{
    text-align: center;
    border-top: 1px solid rgb(69, 69, 69) !important;
    vertical-align: middle !important;
}

.m-list-table tr:nth-child(even){
    background-color: rgba(8, 8, 8, 0.09);
    height: 41px;
}
.m-list-table tr:hover{
    background-color: rgba(139, 134, 134, 0.31);
    color: #FFFFFF;
}
.m-list-table thead tr{
    background-color: rgba(138, 138, 138, 0.44);
    
}

/*box-shadow*/
.c-list-img{
    transform: scale(1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s, transform 0.5s;
}
.c-list-img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s, transform 0.5s;
}