<div class="f-content">
  <div class="col-md-2 text-right">
    <a href=""><i class="fa fa-step-backward fa-2x"></i></a>
    <a href=""><i class="fa fa-play-circle-o fa-2x"></i></a>
    <a href=""><i class="fa fa-step-forward fa-2x"></i></a>
  </div>
  <div class="col-md-8">
    <audio controls="controls" height="100" width="100">
        <source src="song.mp3" type="audio/mp3" />
        <source src="song.ogg" type="audio/ogg" />
      <embed height="100" width="100" src="song.mp3" />
    </audio>
  </div>
  <div class="col-md-2">
    <i class="fa fa-volume-up"></i>
  </div>
  
</div>
