.wrapper{
    background-color: #242424;
}
.header-wrapper{
    background-color: #242424;
    height: 50px;
    border-bottom: 2px solid #AD1D1D
}

/*content-wrapper*/
.content-wrapper{
    background-color: #242424;
    width:100%;
}
.c-left-wrapper{
    float: left;
    background-color: #353434;
    width:245px;
    display: block;
    border-right: 1px solid #555555;
    
}
.c-right-wrapper{
    margin-left: 245px;
}
/*footer-wrapper*/
.footer-wrapper{
    height: 50px;
    background-color: #2c2c2c;
    color: #fff
}