<ul class="s-list">
  <li class="s-list-head">
    <span>推荐</span>
  </li>
  <li><a routerLink="/discover/recommend"><i class="fa fa-music"></i> 发现音乐 </a></li>
  <li><a href=""><i class="fa fa-rss"></i> 私人FM</a></li>
  <li><a href=""><i class="fa fa-video-camera"></i> 视频</a></li>
  <li><a href=""><i class="fa fa-user-plus"></i> 朋友</a></li>
  <li class="s-list-head">
    <span>我的音乐</span>
  </li>
  <li><a href=""><i class="fa fa-music"></i> 本地音乐</a></li>
  <li><a href=""><i class="fa fa-download"></i> 下载管理</a></li>
  <li class="s-list-head">
    <span>创建的歌单</span>
  </li>
  <li><a href=""><i class="fa fa-heart-o"></i> 我喜欢的音乐</a></li>
</ul>
