<div class="fm-content">
  <div class="fm-mic">
    <div class="fm-mic-left col-md-6 text-right">
      <img src="http://placehold.it/280x280" alt="">
      <div class="fm-mic-left-btns">
        <button class="btn btn-none btn-lg btn-circle"><i class="fa fa-heart-o"></i></button>
        <button class="btn btn-none btn-lg btn-circle"><i class="fa fa-trash-o"></i></button>
        <button class="btn btn-none btn-lg btn-circle"><i class="fa fa-step-forward"></i></button>
        <button class="btn btn-none btn-lg btn-circle"><i class="fa fa-ellipsis-h"></i></button>
      </div>
    </div>
    <div class="fm-mic-right col-md-6">
      <h2>MIC NAME</h2>
    </div>
  </div>
  <div class="fm-comment">
    <div class="fm-comment-title">
      <h4>听友评论<small>(已有xxxx条评论)</small></h4>
    </div>
    <div class="fm-comment-input">
      <input type="text" class="form-control">
    </div>
    <div class="fm-comment-title">
      <h4>精彩评论</h4>
    </div>
    <div class="fm-comment-body">

    </div>
  </div>
</div>
